@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

@keyframes rgbLoopRightToLeft {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .rgb-text {
    background: linear-gradient(270deg,
      #ff0000, #ff7300, #fffb00, #48ff00,
      #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 /* matches first for seamless loop */
    );
    background-size: 2000% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rgbLoopRightToLeft 10s linear infinite;
  }
  
  
  
  
  
  

  